In [1]:
import pandas as pd
from sentence_transformers import SentenceTransformer,util
from sklearn.metrics.pairwise import cosine_similarity
import ast
import openai
import time
import seaborn as sns
import matplotlib.pyplot as plt
import json

In [25]:
from sentence_transformers import SentenceTransformer,util
sentence1="hi"
sentence2="hello"
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')
sen1=model.encode(sentence1)
sen2=model.encode(sentence2)
print("Similarity:", util.dot_score(sen1, sen2))

Similarity: tensor([[40.0106]])

In [26]:
from sklearn.metrics.pairwise import cosine_similarity
def max_similarity(sen1,sen2):
     sim = round(cosine_similarity([sen1["data"][0]["embedding"]],[sen2["data"][0]["embedding"]])[0][0], 3)
     return sim

In [27]:

openai.api_key = "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"
sentence1="hellO"
sentence2="AZERAZERAZER"
sen1=openai.Embedding.create(input=sentence1, engine="text-similarity-davinci-001")
sen2=openai.Embedding.create(input=sentence2, engine="text-similarity-davinci-001")
print(max_similarity(sen1,sen2))

0.752

In [2]:

f=open("../Resources/data/resume.json")
data=json.load(f)
resumes=pd.DataFrame(data)
resumes

,_id,degrees,majors,skills
0,{'$oid': '1'},[BS-LEVEL],"[computer science, programming, artificial int...","[computer science, python, java, c, html, css,..."
1,{'$oid': '2'},[BS-LEVEL],"[artificial intelligence, software engineering]","[react, react-native, django, computer-vision,..."
2,{'$oid': '3'},"[BS-LEVEL, MS-LEVEL]",[software development],"[react, react-native, .net, database, communic..."
3,{'$oid': '4'},[BS-LEVEL],"[computer science, software engineering]","[engineering, sql, machine-learning, c, commun..."
4,{'$oid': '5'},[BS-LEVEL],"[computer science, software engineering]","[opencv, csharp, deep-learning, java, matlab, ..."
5,{'$oid': '6'},[MS-LEVEL],[software engineering],"[react, django, socket.io, database, neural-ne..."
6,{'$oid': '6'},[BS-LEVEL],[software engineering],"[react, react-native, django, .net, bootstrap,..."
7,{'$oid': '7'},[BS-LEVEL],[computer science],"[training-model, django, bootstrap, deep-learn..."
8,{'$oid': '8'},"[BS-LEVEL, MS-LEVEL]","[artificial intelligence, network security, cy...","[html, postgresql, sql, django, api, security,..."
9,{'$oid': '9'},[BS-LEVEL],[software engineering],"[react, bootstrap, database, opencv, deep-lear..."

In [3]:
jobs=pd.read_csv('../Resources/data/job_description_by_spacy.csv')
jobs.head()

,Unnamed: 0,Qualifications,Minimum degree level,Acceptable majors,Skills
0,0,bachelor’s and/or master’s in computer science...,BS-LEVEL,"['computer science', 'computer engineering', '...","['data analysis','database','computer science'..."
1,1,"b.a. or b.s. in computer science, information ...",MS-LEVEL,"['computer science', 'information technology',...","['engineering','business','data analysis','dat..."
2,2,bachelor’s in computer science or equivalent e...,BS-LEVEL,['computer science'],"['hadoop', 'hive', 'pig', 'spark', 'sqoop', 'k..."
3,3,bachelor’s and/or master’s in computer science...,BS-LEVEL,"['computer science', 'computer engineering', '...","['java', 'c++', 'object-oriented design', 'app..."
4,4,bachelor’s and/or master’s in computer science...,BS-LEVEL,"['computer science', 'computer engineering', '...","['natural language processing', 'python', 'art..."

In [4]:
import ast
def modifying_type_job(jobs):
    for i in range(len(jobs["Skills"])):
        jobs["Skills"][i]=ast.literal_eval(jobs["Skills"][i])
        #jobs["skills"][i] = list( dict.fromkeys(jobs["skills"][i]) )
    return jobs

In [5]:
jobs = modifying_type_job(jobs)

C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1429428084.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs["Skills"][i]=ast.literal_eval(jobs["Skills"][i])

In [6]:
jobs

,Unnamed: 0,Qualifications,Minimum degree level,Acceptable majors,Skills
0,0,bachelor’s and/or master’s in computer science...,BS-LEVEL,"['computer science', 'computer engineering', '...","[data analysis, database, computer science, ar..."
1,1,"b.a. or b.s. in computer science, information ...",MS-LEVEL,"['computer science', 'information technology',...","[engineering, business, data analysis, databas..."
2,2,bachelor’s in computer science or equivalent e...,BS-LEVEL,['computer science'],"[hadoop, hive, pig, spark, sqoop, kafka, flume..."
3,3,bachelor’s and/or master’s in computer science...,BS-LEVEL,"['computer science', 'computer engineering', '...","[java, c++, object-oriented design, applicatio..."
4,4,bachelor’s and/or master’s in computer science...,BS-LEVEL,"['computer science', 'computer engineering', '...","[natural language processing, python, artifici..."

In [7]:
# Model SBERT all-mpnet-base-v2

In [8]:
def semantic_similarity_sbert_base_v2(job,resume):
    """calculate similarity with SBERT all-mpnet-base-v2"""
    model = SentenceTransformer('all-mpnet-base-v2')
    #Encoding:
    score = 0
    sen = job+resume
    sen_embeddings = model.encode(sen)
    for i in range(len(job)):
        if job[i] in resume:
            score += 1
        else:
            if max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0]) >= 0.4:
                score += max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0])
    score = score/len(job)
    return round(score,3)

In [9]:
# Model SBERT paraphrase-MiniLM-L6-v2

In [10]:
def semantic_similarity_sbert_paraphrase_minilm_l6_v2(job,resume):
    """calculate similarity with SBERT paraphrase-MiniLM-L6-v2"""
    model = SentenceTransformer('paraphrase-MiniLM-L6-v2')
    #Encoding:
    score = 0
    sen = job+resume
    sen_embeddings = model.encode(sen)
    for i in range(len(job)):
        if job[i] in resume:
            score += 1
        else:
            if max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0]) >= 0.4:
                score += max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0])
    score = score/len(job)
    return round(score,3)

In [11]:
# Model GPT3

In [12]:
def max_similarities(skill,resume):
    similarities = []
    for j in resume:
        response_skill1 = openai.Embedding.create(
        input=skill,
        engine="text-similarity-davinci-001")
        response_skill2 = openai.Embedding.create(
        input=j,
        engine="text-similarity-davinci-001")
        sim = round(cosine_similarity([response_skill1["data"][0]["embedding"]],[response_skill2["data"][0]["embedding"]])[0][0], 3)
        similarities.append(sim)
        return max(similarities)

In [13]:
openai.api_key = "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"
def semantic_similarity_gpt3(job,resume):
    """calculate similarity with GPT3"""
    score = 0
    for i in range(len(job)):
        if job[i] in resume:
            score += 1
        else:
            time.sleep(4)
            score += max_similarities(job[i],resume)
    score = score/len(job)
    return round(score,3)

In [14]:
# Model all_MiniLM_L12_v1

In [15]:
def semantic_similarity_all_MiniLM_L12_v1(job,resume):
    """calculate similarity with all-MiniLM-L12-v1"""
    model = SentenceTransformer('all-MiniLM-L12-v1')
    #Encoding:
    score = 0
    sen = job+resume
    sen_embeddings = model.encode(sen)
    for i in range(len(job)):
        if job[i] in resume:
            score += 1
        else:
            if max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0]) >= 0.4:
                score += max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0])
    score = score/len(job)
    return round(score,3)

In [16]:
# Model bert_base_nli_mean_tokens

In [17]:
def semantic_similarity_bert_base_nli_mean_tokens(job,resume):
    """calculate similarity with bert_base_nli_mean_tokens"""
    model = SentenceTransformer('bert-base-nli-mean-tokens')
    #Encoding:
    score = 0
    sen = job+resume
    sen_embeddings = model.encode(sen)
    for i in range(len(job)):
        if job[i] in resume:
            score += 1
        else:
            if max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0]) >= 0.4:
                score += max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0])
    score = score/len(job)
    return round(score,3)

In [18]:
# Model all-roberta-large-v1

In [19]:
def semantic_similarity_all_roberta_large_v1(job,resume):
    """calculate similarity with all-roberta-large-v1"""
    model = SentenceTransformer('all-roberta-large-v1')
    #Encoding:
    score = 0
    sen = job+resume
    sen_embeddings = model.encode(sen)
    for i in range(len(job)):
        if job[i] in resume:
            score += 1
        else:
            if max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0]) >= 0.4:
                score += max(cosine_similarity([sen_embeddings[i]],sen_embeddings[len(job):])[0])
    score = score/len(job)
    return round(score,3)

In [20]:
# Build matching dataset

In [21]:
columns=['resume_id', 'job_id', 'all-mpnet-base-v2_score', 'paraphrase-MiniLM-L6-v2_score', 'gpt3_score','all-MiniLM-L12-v1_score','all-roberta-large-v1_score','bert_base_nli_mean_tokens_score']
matching_dataframe = pd.DataFrame(columns=columns)
ranking_dataframe = pd.DataFrame(columns=columns)

In [22]:
for job_index in range(5):
    columns=['resume_id', 'job_id', 'all-mpnet-base-v2_score', 'paraphrase-MiniLM-L6-v2_score', 'gpt3_score','all-MiniLM-L12-v1_score','all-roberta-large-v1_score','bert_base_nli_mean_tokens_score']
    matching_dataframe_one_job = pd.DataFrame(columns=columns)
    ranking_dataframe_one_job = pd.DataFrame(columns=columns)

    for resume_id in range(resumes.shape[0]):
        matching_dataframe_job = {}
        matching_dataframe_job["resume_id"] = resume_id
        matching_dataframe_job["job_id"] = jobs['Unnamed: 0'][job_index]
        matching_dataframe_job["all-mpnet-base-v2_score"] = semantic_similarity_sbert_base_v2(jobs['Skills'][job_index],resumes['skills'][resume_id])
        matching_dataframe_job["paraphrase-MiniLM-L6-v2_score"] = semantic_similarity_sbert_paraphrase_minilm_l6_v2(jobs['Skills'][job_index],resumes['skills'][resume_id])
        matching_dataframe_job["all-MiniLM-L12-v1_score"] = semantic_similarity_all_MiniLM_L12_v1(jobs['Skills'][job_index],resumes['skills'][resume_id])
        matching_dataframe_job["all-roberta-large-v1_score"] = semantic_similarity_all_roberta_large_v1(jobs['Skills'][job_index],resumes['skills'][resume_id])
        matching_dataframe_job["gpt3_score"] = semantic_similarity_gpt3(jobs['Skills'][job_index],resumes['skills'][resume_id])
        matching_dataframe_job["bert_base_nli_mean_tokens_score"] = semantic_similarity_bert_base_nli_mean_tokens(jobs['Skills'][job_index],resumes['skills'][resume_id])
        matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
        matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)


    ranking_dataframe_one_job["resume_id"] = matching_dataframe_one_job["resume_id"]
    ranking_dataframe_one_job["job_id"] = matching_dataframe_one_job["job_id"]
    ranking_dataframe_one_job['all-mpnet-base-v2_score'] = matching_dataframe_one_job['all-mpnet-base-v2_score'].rank(ascending = False).astype(int)
    ranking_dataframe_one_job['paraphrase-MiniLM-L6-v2_score'] = matching_dataframe_one_job['paraphrase-MiniLM-L6-v2_score'].rank(ascending = False).astype(int)
    ranking_dataframe_one_job['all-MiniLM-L12-v1_score'] = matching_dataframe_one_job['all-MiniLM-L12-v1_score'].rank(ascending = False).astype(int)
    ranking_dataframe_one_job['all-roberta-large-v1_score'] = matching_dataframe_one_job['all-roberta-large-v1_score'].rank(ascending = False).astype(int)
    ranking_dataframe_one_job['gpt3_score'] = matching_dataframe_one_job['gpt3_score'].rank(ascending = False).astype(int)
    ranking_dataframe_one_job['bert_base_nli_mean_tokens_score'] = matching_dataframe_one_job['bert_base_nli_mean_tokens_score'].rank(ascending = False).astype(int)
    ranking_dataframe = ranking_dataframe.append(ranking_dataframe_one_job,ignore_index=True)

C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_dataframe = ranking_dataframe.append(ranking_dataframe_one_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_dataframe = ranking_dataframe.append(ranking_dataframe_one_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ranking_dataframe = ranking_dataframe.append(ranking_dataframe_one_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe_one_job = matching_dataframe_one_job.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  matching_dataframe = matching_dataframe.append(matching_dataframe_job,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\1349873979.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

In [23]:
matching_dataframe

,resume_id,job_id,all-mpnet-base-v2_score,paraphrase-MiniLM-L6-v2_score,gpt3_score,all-MiniLM-L12-v1_score,all-roberta-large-v1_score,bert_base_nli_mean_tokens_score
0,0.0,0.0,0.657,0.609,0.876,0.615,0.684,0.862
1,1.0,0.0,0.517,0.526,0.826,0.478,0.581,0.839
2,2.0,0.0,0.573,0.451,0.826,0.478,0.569,0.829
3,3.0,0.0,0.578,0.531,0.852,0.556,0.657,0.817
4,4.0,0.0,0.466,0.436,0.839,0.441,0.528,0.793
5,5.0,0.0,0.438,0.407,0.826,0.412,0.458,0.826
6,6.0,0.0,0.480,0.302,0.811,0.391,0.504,0.772
7,7.0,0.0,0.688,0.710,0.844,0.637,0.729,0.880
8,8.0,0.0,0.385,0.123,0.769,0.329,0.427,0.754
9,9.0,0.0,0.499,0.431,0.826,0.498,0.630,0.844
10,0.0,1.0,0.545,0.500,0.857,0.515,0.596,0.820
11,1.0,1.0,0.481,0.464,0.833,0.451,0.537,0.822
12,2.0,1.0,0.495,0.351,0.823,0.455,0.522,0.803
13,3.0,1.0,0.530,0.468,0.853,0.518,0.596,0.806
14,4.0,1.0,0.362,0.339,0.831,0.366,0.458,0.775
15,5.0,1.0,0.373,0.351,0.823,0.381,0.428,0.808
16,6.0,1.0,0.422,0.235,0.812,0.363,0.445,0.757
17,7.0,1.0,0.626,0.633,0.845,0.575,0.652,0.857
18,8.0,1.0,0.354,0.125,0.767,0.339,0.398,0.746
19,9.0,1.0,0.421,0.370,0.823,0.449,0.561,0.820
20,0.0,2.0,0.214,0.150,0.800,0.214,0.305,0.714
21,1.0,2.0,0.406,0.316,0.845,0.372,0.475,0.790
22,2.0,2.0,0.385,0.402,0.875,0.382,0.536,0.828
23,3.0,2.0,0.144,0.124,0.832,0.143,0.200,0.726
24,4.0,2.0,0.298,0.236,0.851,0.260,0.400,0.786
25,5.0,2.0,0.215,0.208,0.830,0.234,0.341,0.753
26,6.0,2.0,0.256,0.206,0.829,0.296,0.432,0.769
27,7.0,2.0,0.269,0.169,0.825,0.312,0.416,0.765
28,8.0,2.0,0.164,0.157,0.774,0.168,0.285,0.704
29,9.0,2.0,0.381,0.336,0.864,0.382,0.484,0.819
30,0.0,3.0,0.485,0.413,0.849,0.475,0.483,0.819
31,1.0,3.0,0.444,0.521,0.803,0.361,0.369,0.789
32,2.0,3.0,0.448,0.406,0.774,0.363,0.311,0.799
33,3.0,3.0,0.315,0.289,0.811,0.293,0.232,0.752
34,4.0,3.0,0.503,0.573,0.821,0.444,0.449,0.828
35,5.0,3.0,0.321,0.250,0.774,0.229,0.216,0.792
36,6.0,3.0,0.374,0.365,0.774,0.379,0.326,0.805
37,7.0,3.0,0.296,0.424,0.823,0.286,0.245,0.788
38,8.0,3.0,0.355,0.287,0.781,0.225,0.227,0.795
39,9.0,3.0,0.392,0.222,0.774,0.229,0.282,0.788
40,0.0,4.0,0.575,0.558,0.908,0.560,0.584,0.851
41,1.0,4.0,0.483,0.562,0.807,0.409,0.518,0.817
42,2.0,4.0,0.507,0.588,0.807,0.399,0.443,0.783
43,3.0,4.0,0.537,0.550,0.846,0.452,0.566,0.779
44,4.0,4.0,0.573,0.652,0.825,0.523,0.517,0.786
45,5.0,4.0,0.436,0.343,0.807,0.344,0.370,0.776
46,6.0,4.0,0.566,0.552,0.807,0.507,0.509,0.767
47,7.0,4.0,0.601,0.702,0.831,0.591,0.637,0.890
48,8.0,4.0,0.384,0.234,0.782,0.333,0.340,0.723
49,9.0,4.0,0.482,0.366,0.807,0.444,0.497,0.775

In [24]:
ranking_dataframe

,resume_id,job_id,all-mpnet-base-v2_score,paraphrase-MiniLM-L6-v2_score,gpt3_score,all-MiniLM-L12-v1_score,all-roberta-large-v1_score,bert_base_nli_mean_tokens_score
0,0.0,0.0,2,2,1,2,2,2
1,1.0,0.0,5,4,6,5,5,4
2,2.0,0.0,4,5,6,5,6,5
3,3.0,0.0,3,3,2,3,3,7
4,4.0,0.0,8,6,4,7,7,8
5,5.0,0.0,9,8,6,8,9,6
6,6.0,0.0,7,9,9,9,8,9
7,7.0,0.0,1,1,3,1,1,1
8,8.0,0.0,10,10,10,10,10,10
9,9.0,0.0,6,7,6,4,4,3
10,0.0,1.0,2,2,1,3,2,3
11,1.0,1.0,5,4,4,5,5,2
12,2.0,1.0,4,6,7,4,6,7
13,3.0,1.0,3,3,2,2,2,6
14,4.0,1.0,9,8,5,8,7,8
15,5.0,1.0,8,6,7,7,9,5
16,6.0,1.0,6,9,9,9,8,9
17,7.0,1.0,1,1,3,1,1,1
18,8.0,1.0,10,10,10,10,10,10
19,9.0,1.0,7,5,7,6,4,3
20,0.0,2.0,8,9,9,8,8,9
21,1.0,2.0,1,3,4,3,3,3
22,2.0,2.0,2,1,1,1,1,1
23,3.0,2.0,10,10,5,10,10,8
24,4.0,2.0,4,4,3,6,6,4
25,5.0,2.0,7,5,6,7,7,7
26,6.0,2.0,6,6,7,5,4,5
27,7.0,2.0,5,7,8,4,5,6
28,8.0,2.0,9,8,10,9,9,10
29,9.0,2.0,3,2,2,1,2,2
30,0.0,3.0,2,4,1,1,1,2
31,1.0,3.0,4,2,5,5,3,7
32,2.0,3.0,3,5,8,4,5,4
33,3.0,3.0,9,7,4,6,8,10
34,4.0,3.0,1,1,3,2,2,1
35,5.0,3.0,8,9,8,8,10,6
36,6.0,3.0,6,6,8,3,4,3
37,7.0,3.0,10,3,2,7,7,8
38,8.0,3.0,7,8,6,10,9,5
39,9.0,3.0,5,10,8,8,6,8
40,0.0,4.0,2,5,1,2,2,2
41,1.0,4.0,7,4,7,7,4,3
42,2.0,4.0,6,3,7,8,8,5
43,3.0,4.0,5,7,2,5,3,6
44,4.0,4.0,3,2,4,3,5,4
45,5.0,4.0,9,9,7,9,9,7
46,6.0,4.0,4,6,7,4,6,9
47,7.0,4.0,1,1,3,1,1,1
48,8.0,4.0,10,10,10,10,10,10
49,9.0,4.0,8,8,7,6,7,8

In [33]:
labeled_dataset=pd.read_csv("../Resources/data/labeled_dataset.csv")

In [34]:
def get_recommeded_index(job_resumes_ranking,model):
    """get recommended resumes"""
    recommeded_index = []
    model = model[:-9]+'score'
    for i,row in job_resumes_ranking.iterrows():
        if job_resumes_ranking[model][i] <= 5:
            recommeded_index.append(job_resumes_ranking['resume_id'][i])
    return recommeded_index

def get_relevants_index(job_labeled_dataset):
    """get relevant true resumes"""
    relevants_index = []
    for i,row in job_labeled_dataset.iterrows():
        if job_labeled_dataset['rank'][i] <= 5:
            relevants_index.append(job_labeled_dataset['resume_id'][i])
    return relevants_index

def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

In [35]:
def precision_at_k(k,relevants_index,model):
    """implementation of precision at k metric"""
    precision = 0
    recommeded_index = get_recommeded_index(job_resumes_ranking,model)
    relevant_recommended = intersection(relevants_index, recommeded_index)
    precision = round((len(relevant_recommended)/k),3)
    return precision

In [36]:
columns=['job_id','all-mpnet-base-v2_precision', 'paraphrase-MiniLM-L6-v2_precision', 'gpt3_precision','all-MiniLM-L12-v1_precision','all-roberta-large-v1_precision','bert_base_nli_mean_tokens_precision']
precision_dataframe = pd.DataFrame(columns=columns)
for job_index in range(5):
    job_labeled_dataset = labeled_dataset[labeled_dataset['job_id']==job_index]
    job_resumes_ranking = ranking_dataframe[ranking_dataframe['job_id']==job_index]
    relevants_index = get_relevants_index(job_labeled_dataset)
    k = 5
    precisions = {}
    precisions['job_id'] = job_index
    precisions['all-mpnet-base-v2_precision'] = precision_at_k(k,relevants_index,'all-mpnet-base-v2_precision')
    precisions['paraphrase-MiniLM-L6-v2_precision'] = precision_at_k(k,relevants_index,'paraphrase-MiniLM-L6-v2_precision')
    precisions['gpt3_precision'] = precision_at_k(k,relevants_index,'gpt3_precision')
    precisions['all-MiniLM-L12-v1_precision'] = precision_at_k(k,relevants_index,'all-MiniLM-L12-v1_precision')
    precisions['all-roberta-large-v1_precision'] = precision_at_k(k,relevants_index,'all-roberta-large-v1_precision')
    precisions['bert_base_nli_mean_tokens_precision'] = precision_at_k(k,relevants_index,'bert_base_nli_mean_tokens_precision')
    precision_dataframe = precision_dataframe.append(precisions,ignore_index=True)

C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\9960349.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  precision_dataframe = precision_dataframe.append(precisions,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\9960349.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  precision_dataframe = precision_dataframe.append(precisions,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\9960349.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  precision_dataframe = precision_dataframe.append(precisions,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\9960349.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  precision_dataframe = precision_dataframe.append(precisions,ignore_index=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\9960349.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  precision_dataframe = precision_dataframe.append(precisions,ignore_index=True)

In [37]:
precision_dataframe

,job_id,all-mpnet-base-v2_precision,paraphrase-MiniLM-L6-v2_precision,gpt3_precision,all-MiniLM-L12-v1_precision,all-roberta-large-v1_precision,bert_base_nli_mean_tokens_precision
0,0.0,0.6,0.6,0.2,0.8,0.6,0.8
1,1.0,0.4,0.6,0.4,0.4,0.6,0.8
2,2.0,0.8,1.0,0.8,0.6,0.6,0.8
3,3.0,0.6,0.8,0.6,0.6,0.6,0.8
4,4.0,0.6,1.0,0.6,0.6,0.8,1.0

In [38]:
# Building a final result dataframe
columns=['mpnet_base_v2_precision','paraphrase_MiniLM_L6_v2_precision', 'gpt3_precision', 'MiniLM-L12-v1_precision','roberta_large_v1_precision','bert_base_nli_mean_tokens_precision']
results = pd.DataFrame(columns=columns)
result = {}
result['mpnet_base_v2_precision'] =  round(precision_dataframe['all-mpnet-base-v2_precision'].mean(),3)
result['paraphrase_MiniLM_L6_v2_precision'] = round(precision_dataframe['paraphrase-MiniLM-L6-v2_precision'].mean(),3)
result['gpt3_precision'] = round(precision_dataframe['gpt3_precision'].mean(),3)
result['MiniLM-L12-v1_precision'] = round(precision_dataframe['all-MiniLM-L12-v1_precision'].mean(),3)
result['roberta_large_v1_precision'] = round(precision_dataframe['all-roberta-large-v1_precision'].mean(),3)
result['bert_base_nli_mean_tokens_precision'] = round(precision_dataframe['bert_base_nli_mean_tokens_precision'].mean(),3)
results = results.append(result,ignore_index=True)

C:\Users\mahdi\AppData\Local\Temp\ipykernel_16744\3613154226.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results = results.append(result,ignore_index=True)

In [39]:
results

,mpnet_base_v2_precision,paraphrase_MiniLM_L6_v2_precision,gpt3_precision,MiniLM-L12-v1_precision,roberta_large_v1_precision,bert_base_nli_mean_tokens_precision
0,0.6,0.8,0.52,0.6,0.64,0.84

In [40]:
from random import randint